@import '../node_modules/modern-normalize/modern-normalize.css';

// scrollbar for mozilla
html {
  margin-right: calc(-1 * (100vw - 100%));
  scrollbar-width: thin;
  scrollbar-color: #c8a27e #ffeddc;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202020;
}

// scrollbar for chrome
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #c8a27e;
  outline: 1px solid #c8a27e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #202020 inset !important;
}

.task-scale-enter {
  opacity: 0;
  transform: scale(0.7);
}

.task-scale-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 250ms linear;
}

.task-scale-exit {
  opacity: 1;
  transform: scale(1);
}

.task-scale-exit-active {
  opacity: 0;
  transform: scale(0.7);
  transition: all 250ms linear;
}

.task-scale-appear {
  transform: scale(0.9);
  opacity: 0;
}

.task-scale-appear-active {
  transform: scale(1);
  opacity: 1;
  transition: all 250ms linear;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-exit {
  opacity: 0;
}

.fade-exit-active {
  opacity: 0;
}
