body.light {
  background-color: #ebebeb;
}

.light {
  & .theme-header {
    background-color: #d1d1d1;
    .container {
      @media screen and (max-width: 900px) {
        background-color: #d1d1d1;
        box-shadow: 0px 2px 5px 0px rgba(118, 118, 118, 0.367);
      }
    }
  }

  & .nav-menu {
    background-color: #ebebeb;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #ebebeb inset !important;
  }

  & .theme-light-text {
    color: #202020;

    &:before,
    &:after {
      background-color: #202020;
    }
  }

  & .theme-light-hover:hover {
    color: #424242;
  }

  & .theme-light-link-active {
    font-weight: 700;
  }

  & .theme-light-border {
    border-color: #202020;
  }

  & .theme-light-completed {
    color: #7134f5;
  }

  & .theme-light-incompleted {
    color: #f39d83;
  }

  & .theme-light-loader div::after {
    background: #202020;
  }

  & .theme-light-button {
    background-color: #7134f5;

    &:hover {
      background-color: #5f15ff;
    }
  }
}
