.accountForm {
  margin-top: 20px !important;
  max-width: 450px;
  margin: 0 auto;
}

.buttonContainer {
  display: flex;
  margin-top: 20px !important;
}

.submitButton {
  margin-right: 20px;
}

.deleteButton {
  background-color: #f44336;

  &:hover {
    background-color: #fb2c1e;
  }

  &:active {
    background-color: #c61509;
  }
}
