.registerForm {
  margin-top: 50px !important;
  max-width: 450px;
  margin: 0 auto;
}

.submitButton {
  margin-top: 20px !important;
}

.loginLink {
  display: block;
  text-decoration: none;
  color: #e2b076;
  transition: 0.3s;
  margin-top: 20px;

  &:hover {
    color: #d0833b;
  }
}
